@media (max-width: 1368px) {

  /*header*/

  .header__container {
    justify-content: space-between;
  }

  .header__top {
    padding-top: 27px;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__logo-img {
    width: 187px;
  }

  .header__nav {
    position: absolute;
  }

  .header__bottom {
    display: none;
  }

  .search {
    order: 1;
  }

  .form-container {
    display: block;
  }

  .nav {
    margin-left: 0;
    margin-right: 20px;
  }

  .burger {
    position: relative;
    align-self: center;
    z-index: 2;
    display: block;
    width: 30px;
    height: 23px;
    color: var(--white);
    transition: color 0.5s ease;
  }

  .burger:focus {
    outline: 2px solid var(--color-orange);
    outline-offset: 3px;
  }

  .burger::before,
  .burger::after {
    content: "";
  }

  .burger span,
  .burger::before,
  .burger::after {
    position: absolute;
    top: 52%;
    left: 0;
    height: 3px;
    background-color: currentColor;
    transform-origin: right;
    transition: transform 0.2s ease;
  }

  .burger::before {
    width: 38px;
    transform: translateY(calc(-100% - 10px));
  }

  .burger span {
    top: calc(50% - 1px);
    width: 28px;
    transition: opacity 0.5s ease, transform 0.2s ease;
  }

  .burger::after {
    width: 22px;
    transform: translateY(calc(100% + 10px));
  }

  .burger:active {
    color: var(--color-dark-orange);
  }

  .burger:active span {
    transform: scaleX(calc(25 / 30));
  }

  .burger:active::after {
    transform: scaleX(calc(18 / 30)) translateY(calc(100% + 5px));
  }

  .is-opened.burger span,
  .is-opened.burger::before,
  .is-opened.burger::after {
    transform-origin: center;
  }

  .is-opened.burger::before {
    top: 50%;
    width: 32px;
    transform: translateY(-50%) rotate(45deg);
  }

  .burger.is-opened span {
    opacity: 0;
    transform: translateX(-100%);
  }

  .is-opened.burger::after {
    top: 50%;
    width: 32px;
    transform: translateY(-50%) rotate(-45deg);
  }

  .menu-wrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100vh;
    padding: 110px 80px 40px 40px;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
  }

  .menu {
    display: block;
    max-height: 100%;
    margin: 0;
    overflow-y: auto;
    margin-bottom: auto;
  }

  .menu__item {
    margin-bottom: 25px;
  }

  .menu-wrap.is-opened {
    display: flex;
    height: 100vh;
    align-content: center;
    transform: translateX(0);
    animation-name: menu-open;
    animation-duration: 0.3s;
  }

  .menu-wrap.is-closed {
    animation-name: menu-close;
    animation-duration: 0.3s;
  }

  .item {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .header__link {
    font-size: var(--fs-24px);
  }

  .login__link {
    border-radius: 100px;
    width: 8.6115em;
    padding: 10px 50px 10px 50px;
    border: 1px solid var(--violet-middle);
  }

  .login__icon {
    width: 40px;
  }

  .login__link::after {
    left: 65px;
    top: 19.6px;
  }
  .login__link:hover.login__link::after {
    left: 60px;
    transition: all ease-in-out 0.3s;
    height: 1.5px;
  }

  .search__form {
    position: absolute;
    top: 3%;
    right: 3%;
    visibility: initial;
  }

  .search {
    display: none;
  }

  /*hero*/

  .hero__container {
    padding-top: 105px;
    padding-bottom: 115px;
  }

  .hero__content {
    min-height: 450px;
  }

  .hero__descr {
    margin-top: -10px;
    margin-bottom: 20px;
    max-width: 80%;
  }

  .hero__link {
    margin-top: auto;
  }

  .form-btn__open-icon {
    width: 29px;
    height: 36px;
  }

  .hero-slide-1 {
    background-image: url(../img/hero-swiper/xl/hero-swiper__bg__xl__1.jpg);
  }

  .hero-slide-2 {
    background-image: url(../img/hero-swiper/xl/hero-swiper__bg__xl__2.jpg);
  }

  .hero-slide-3 {
    background-image: url(../img/hero-swiper/xl/hero-swiper__bg__xl__3.jpg);
  }

  .about-us__descr {
    width: 100%;
  }

  /*gallery*/

  .gallery {
    background-image: url(../img/gallery/gallery__background__xl.jpg);
  }

  .gallery__container {
    padding-bottom: 113px;
  }

  .gallery-left-elem {
    width: 30%;
  }

  .gallery-swiper {
    width: 64%;
  }

  .slides-container {
    height: 92%;
  }

  /*catalog*/

  .catalog__descr {
    width: 100%;
  }

  .catalog__content-wrap {
    width: 47.5%;
    margin-bottom: 50px;
  }

  .catalog__accordion {
    width: 47%;
  }

  .catalog__painer-img {
    margin-bottom: 21px;
  }

  .catalog__painer-name {
    margin-bottom: 10px;
  }

  .catalog__painter-lifespan {
    display: block;
    margin-bottom: 14px;
  }

  .accordion__inner-list {
    column-count: 2;
    width: 115%;
  }

  /*events*/

  .events__container {
    padding-top: 2px;
  }

  .events__title {
    font-weight: unset;
  }

  .events__navigation {
    display: none;
  }

  .article__content {
    padding: 18px 33px 47px 33px;
  }

  .article__location,
  .article__time {
    text-align: right;
  }

  .article__time {
    margin-bottom: 5px;
  }

  .article__title {
    margin-bottom: 7px;
  }

  .article__descr {
    margin-bottom: unset;
  }

  .article__link {
    padding-bottom: 5px;
  }

  .events__container {
    padding-bottom: 0;
  }

  .swiper {
    overflow-y: visible;
    min-height: 800px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 73px;
  }

  .swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #cacaca;
  }

  .swiper-pagination-bullet-active {
    background-color: #666666;
  }

  /*projects*/

  .projects__descr {
    width: 100%;
  }

  .projects__container {
    padding-bottom: 55px;
  }

  .js-projects-swiper {
    min-height: auto;
  }

  /*contacts*/

  .contacts__container {
    padding-bottom: 42px;
  }

  .contacts__top {
    flex-direction: column;
  }

  .contacts__subtitle {
    margin-bottom: 10px;
  }

  .adress {
    margin-bottom: 30px;
  }

  .cotacts__form {
    margin-bottom: 25px;
    flex-wrap: wrap;
  }

  /*footer*/

  .footer {
    padding-top: 39px;
    padding-left: 0;
    padding-right: 0;
  }

  .footer__logo {
    height: 100%;
    align-self: center;
  }

  .vk-img,
  .ok-img {
    width: 60px;
    height: 60px;
  }
}

@keyframes menu-open {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menu-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes search-open {
  from {
    transform: translateY(-50%) scaleX(0);
    opacity: 0;
  }
  to {
    transform: translateY(-50%) scaleX(1);
    opacity: 1;
  }
}

@keyframes search-close {
  from {
    transform: translateY(-50%) scaleX(1);
    opacity: 1;
  }
  to {
    transform: translateY(-50%) scaleX(0);
    opacity: 0;
  }
}

@media (max-width: 768px) {

  /*header*/

  .header {
    overflow: hidden;
  }

  .menu {
    margin-bottom: unset;
    height: 80%;
    display: flex;
    flex-direction: column;
  }

  .menu-wrap.is-opened {
    align-items: baseline;
  }

  .menu__item:last-child {
    margin-left: unset;
    margin-top: auto;
  }

  .form {
    max-width: none;
    width: 90%;
  }

  /*hero*/

  .hero__descr {
    max-width: 100%;
  }

  /*gallery*/

  .gallery__container {
    padding-bottom: 70px;
  }

  .gallery {
    background-image: url(../img/gallery/gallery__background__md.jpg);
  }

  .gallery-left-elem,
  .gallery-swiper {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .gallery-left-elem {
    margin-bottom: 15px;
  }

  .gallery-select {
    max-width: 300px;
  }

  .gallery-swiper-wrapper {
    height: 95%;
  }

  /*catalog*/

  .catalog {
    padding-bottom: 33px;
  }

  .catalog__descr {
    margin-bottom: 22px;
  }

  .catalog__wrap {
    flex-direction: column-reverse;
  }

  .catalog__content-wrap {
    width: 100%;
    margin-bottom: 50px;
  }

  .catalog__accordion {
    width: 100%;
    margin-bottom: 50px;
  }

  .accordion__inner-list {
    column-count: 3;
    width: 105%;
  }

  .catalog__painer-img {
    margin-bottom: 9px;
  }

  .catalog__painter-lifespan {
    margin-bottom: 5px;
  }

  /*events*/

  .article__content {
    min-height: 415px;
  }

  /*projects*/

  .projects__container {
    padding-bottom: 79px;
  }

  .projects__descr {
    margin-bottom: 31px;
  }

  .projects__subtitle {
    margin-bottom: 27px;
  }

  .js-projects-swiper {
    overflow-y: hidden;
    padding-right: 19px;
  }

  .projects__swiper {
    padding-left: 38px;
    padding-right: 38px;
  }

  .projects-slide {
    height: 106px;
  }

  .projects-slide-img {
    width: 70%;
  }

  /*contacts*/

  .contacts__container {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .contacts__subtitle {
    letter-spacing: -0.03em;
  }

  .contacts__adress {
    padding-top: 0;
  }

  .cotacts__form {
    flex-wrap: wrap;
  }

  .cotacts__form-name,
  .cotacts__form-phone {
    margin-bottom: 12px;
    width: 41%;
  }

  .cotacts__form-call {
    min-width: 18.3em;
  }
}

@media (max-width: 540px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  /*header*/

  .header__top {
    padding-top: 13px;
    padding-bottom: 10px;
  }

  .burger {
    width: unset;
    height: 20px;
  }

  .burger::before {
    width: 25px;
    height: 2px;
    top: 62%;
  }

  .burger span {
    width: 16px;
    height: 2px;
    top: 40%;
  }

  .burger::after {
    width: 10px;
    height: 2px;
    top: 20%;
  }

  .header__logo {
    margin-left: 15px;
    align-content: flex-end;
    justify-content: center;
    height: 22px;
  }

  .header__logo {
    margin-left: 15px;
    align-content: flex-end;
    justify-content: center;
    height: 22px;
  }

  .menu-wrap {
    padding-left: 15px;
  }

  .form-btn__open-icon {
    width: 16px;
    height: 16px;
  }

  /*hero*/

  .hero__content {
    align-items: center;
    height: unset;
  }

  .hero__title {
    max-width: unset;
    font-size: var(--fs-32px);
    text-align: center;
  }

  .hero__descr {
    max-width: 80%;
    text-align: center;
  }

  .hero__container {
    padding-top: 30px;
    padding-bottom: 45px;
  }

  .hero__descr {
    font-size: var(--fs-12px);
    line-height: 16px;
    font-weight: 400;
    max-width: 90%;
    letter-spacing: unset;
    margin-bottom: 40px;
  }

  .hero__title {
    font-size: var(--fs-32px);
    line-height: 44px;
    margin-bottom: 12px;
  }

  .hero__link {
    padding: 13px 20px;
    font-weight: 700;
    font-size: var(--fs-12px);
    line-height: 16px;
  }

  .hero-slide-1 {
    background-image: url(../img/hero-swiper/md/hero-swiper__bg__md__1.jpg);
  }

  .hero-slide-2 {
    background-image: url(../img/hero-swiper/md/hero-swiper__bg__md__2.jpg);
  }

  .hero-slide-3 {
    background-image: url(../img/hero-swiper/md/hero-swiper__bg__md__3.jpg);
  }

  /*about-us*/

  .about-us__container {
    padding-top: 49px;
    padding-bottom: 40px;
  }

  .about-us__title {
    margin-bottom: 12px;
  }

  .about-us__descr {
    font-weight: 400;
    font-size: var(--fs-14px);
    line-height: 28px;
  }

  /*gallery*/

  .gallery {
    background-image: url(../img/gallery/gallery__background__xs.jpg);
  }

  .gallery__container {
    padding-top: 51px;
    padding-bottom: unset;
  }

  .gallery__title {
    margin-bottom: 12px;
  }

  .gallery-left-elem {
    margin-bottom: 10px;
  }

  .gallery-select {
    margin-bottom: 36px;
  }
  .gallery-select__label {
    margin-bottom: 5px;
  }

  .gallery-swiper {
    display: flex;
    flex-direction: column-reverse;
  }

  .gallery-navigation {
    align-self: center;
    margin-top: 20px;
  }

  .gallery-slide::before {
    padding-top: calc(110% - 6px);
  }

  .gallery-slide {
    height: 366px;
  }

  /*catalog*/

  .catalog {
    padding-top: 50px;
    padding-bottom: unset;
  }

  .catalog__title {
    margin-bottom: 13px;
  }

  .catalog__descr {
    display: none;
  }

  .accordion__question .accordion__heading {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .accordion__heading-text-wrap {
    font-size: 18px;
  }

  .head-icon {
    width: 30px;
    height: 30px;
  }

  .accordion__content-wrap {
    padding-top: 21px;
    padding-bottom: 20px;
  }

  .accordion__inner-list {
    column-count: 1;
  }

  .accordion__item:last-child {
    display: none;
  }

  .catalog__painter-lifespan {
    margin-bottom: 12px;
  }

  /*events*/

  .events__title {
    margin-bottom: 12px;
  }

  .swiper {
    min-height: 753px;
  }

  .article__content {
    padding-left: 22px;
    padding-right: 20px;
  }

  .article__time {
    margin-bottom: 12px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 40px;
  }

  /*projects*/

  .projects__container {
    padding-bottom: 25px;
  }

  .projects__title {
    letter-spacing: unset;
    margin-bottom: 12px;
  }

  .projects__descr {
    margin-bottom: 19px;
  }

  .projects__subtitle {
    font-size: var(--fs-18px);
    margin-bottom: 10px;
  }

  .js-projects-swiper {
    min-height: auto;
  }

  .projects-slide {
    height: 65px;
  }

  .projects-slide-img {
    width: 40%;
  }

  .projects-prev,
  .projects-next {
    top: 94.5%;
  }

  .projects-next {
    right: 15px;
  }

  /*contacts*/

  .contacts__section {
    border: unset;
  }

  .contacts__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contacts__subtitle {
    font-size: var(--fs-18px);
    letter-spacing: unset;
    margin-bottom: 3px;
  }

  .adress {
    font-size: var(--fs-14px);
    margin-bottom: 20px;
  }

  .cotacts__form {
    margin-right: 0;
    margin-bottom: 14px;
  }

  .cotacts__form-name,
  .cotacts__form-phone {
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .cotacts__form-name,
  .cotacts__form-phone {
    margin-bottom: 12px;
    width: 100%;
  }

  .cotacts__form-name {
    margin-bottom: 20px;
  }

  .cotacts__form-phone {
    margin-bottom: 20px;
  }

  .cotacts__form-call {
    font-size: var(--fs-12px);
    width: 44%;
    min-width: auto;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .contacts__form-call--hiden {
    display: none;
  }

  .contacts__message-subtitle {
    font-size: var(--fs-18px);
    font-weight: 400;
    letter-spacing: unset;
  }

  .contacts__message-img {
    height: 50px;
    width: 50px;
  }

  .contacts__map {
    min-height: 320px;
  }

  /*footer*/

  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__container {
    justify-content: center;
    flex-direction: column-reverse;
  }

  .footer__social {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  .vk-img,
  .ok-img {
    width: 50px;
    height: 50px;
  }

  .footer__logo-img {
    width: 100px;
  }

  .footer__logo {
    margin-left: auto;
  }

  .footer__logo-img {
    width: 100px;
  }
}
